:root {
    --mainColor1: #676767;


}
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 0%, 0.5);
    will-change: transform;
    transform: translateY(2px);
    transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}
.navBar{
    position: fixed;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cash{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.scoreSite{
    color: white;
    width: 30%;
    padding-left: 5px;
}
.upgradeSite{
    width: 30%;
    display: flex;
    justify-content: right;

}
.cashSpan{
    margin: 5%;
}
.centerButton{
    width: 30%;
    display: flex;
    justify-content: center;
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right:  -0;
    background-color: rgba(26, 26, 26, 0.5); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    /*backdrop-filter: blur(8px);*/

}

/* The sidebar links */
.sidebar a {
    color: white;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #e18c8c;
}

/* Position and style the close button (top right corner) */


/* The button used to open the sidebar */
.openbtn {
    position: absolute;
    font-size: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #504949;
    color: white;
    opacity: 90%;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    display: flex;
    justify-content: right;
    transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
body{
    /*background: linear-gradient(to right top,#1b1b1b,#38ccae);*/
    background: radial-gradient(#27638d, #2a4b5d);
    margin: 0;
}

canvas{

}
.upgrade{
    padding: 15px;
    height: 120px;
    border-radius: 5px;
    background-color: rgba(103, 103, 103, 0.5);
    display: grid;
    justify-content: center;
    column-count: 1;
}
.text{
    color: cornsilk;
}
.upgrades{
    margin: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;

}
.button-54 {

    max-height: 40px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54 {
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
}

.button-54:active {
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}
